---
---

@import "{{ site.theme }}";

#posts {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(3, 1fr);

  @include media-query($on-palm) {
    grid-template-columns: repeat(2, 1fr);
  }
  .post {
    display: flex;
    flex-direction: column;
    background: lighten(#828282, 40%);
    padding: 1em;
    padding-bottom: 0.75em;
    border-radius: 0.25em;

    .title {
      text-align: center;
    }

    .post-text {
      padding-top: 0.5em;
      text-indent: 15%;
    }
    .post_date {
      text-align: right;
      display: flex;
      flex: 1;
      justify-content: flex-end;
      flex-direction: column;
      font-size: smaller;
    }
  }
}
