.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.App header {
  background-color: #282c34;
  height: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App section {
  flex-grow: 1;
  background: rgba(206, 232, 255, 0.4);
}
.App section .features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App footer {
  background-color: #282c34;
  height: 3em;
}
